@import '../../sass/libs/vars';
@import '../../sass/libs/functions';
@import '../../sass/libs/vendor';
@import '../../sass/_main_breakpoints';

.textarea {
    composes: generalInput from "./formUtils.module.scss";
    padding: 0.75em 1em;
}

@include breakpoint('<=xlarge') {
    .textarea {
        font-size: 13pt;
    }
}

@include breakpoint('<=large') {
    .textarea {
        font-size: 11pt;
    }
}

@include breakpoint('<=medium') {
    .textarea {
        font-size: 12pt;
    }
}

@include breakpoint('<=small') {
    .textarea {
        font-size: 12pt;
    }
}

@include breakpoint('<=xsmall') {
    .textarea {
        font-size: 12pt;
    }
}
