@import '../../sass/libs/vars';
@import '../../sass/libs/functions';
@import '../../sass/libs/mixins';
@import '../../sass/libs/vendor';
@import '../../sass/main_breakpoints';

$size-header: 23em;

.sidebar {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('justify-content', 'space-between');
    background: _palette(header, bg);
    color: _palette(header, fg);
    height: 100%;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: $size-header;

    @if _misc(header-side) == 'right' {
        right: 0;
    }
    @else {
        left: 0;
    }
}

@include breakpoint('<=xlarge') {
    $size-header: 21em;

    .sidebar {
        width: $size-header;
    }
}

@include breakpoint('<=large') {
    $size-header: 20em;

    .sidebar {
        width: $size-header;
    }
}

@include breakpoint('<=medium') {
    $size-header: 20em;

    .sidebar {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transition', ('transform #{_duration(header)} ease'));
        display: block;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: $size-header;
        z-index: _misc(z-index-base) + 2;

        @if _misc(header-side) == 'right' {
            @include vendor('transform', 'translateX(#{$size-header})');
            right: 0;
        }
        @else {
            @include vendor('transform', 'translateX(#{$size-header * -1})');
            left: 0;
        }
    }

    .showSidebar {
        @include vendor('transform', 'translateX(0)');
    }
}

@include breakpoint('<=small') {

    $size-header: 17em;

    .sidebar {
        width: $size-header;

        @if _misc(header-side) == 'right' {
            @include vendor('transform', 'translateX(#{$size-header})');
            right: 0;
        }
        @else {
            @include vendor('transform', 'translateX(#{$size-header * -1})');
            left: 0;
        }
    }

    .showSidebar {
        @include vendor('transform', 'translateX(0)');
    }
}
