@import "../../sass/libs/vars";
@import "../../sass/libs/functions";
@import "../../sass/_main_breakpoints";

.featureListItem {
    display: inline-block;
    margin: 0 0 (_size(element-margin) * 0.75) 2.3em;
    position: relative;
    vertical-align: top;
    width: 44%;
}

.featureListItemIcon {
    font-size: 2em;
    left: -1.1em;
    top: -0.1em;
    position: absolute;
}

@include breakpoint("<=small") {
  .featureListItem {
    display: block;
    width: 90%;
}
}

@include breakpoint("<=xsmall") {
    .featureListItemIcon {
      font-size: 1.6em;
      top: 0em;
    }
}
